@media only screen and (max-width:768px){
    #profile_scn .tabpane_content {
        border-left: none;
    }
}
@media only screen and (max-width:556px){
    #tab_pane_content_sidebar{
        display: flex;
    }
    #list-home-list {
        background-color: #F5F5F5;
        border: none;
        border-bottom: 2px solid #FF1478;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #list-profile-list {
        background-color: #F5F5F5;
        border: none;
        border-bottom: 2px solid #FF1478;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}